
.header{
    padding: 0 18.5%;
}
.icon-header{
    width: 50px;
}

.title{
    font-size: 18px;
    font-weight: bold;
    
}

.order{
    margin-left: 15%;
    border: solid 1px #eeeeee;
    border-radius: 15px;   
    height: 40px;
    background-color: #eeeeee;
}

.come-get{
    margin-left: 10px;
}

.content-order-delivery{
    margin-left: 5px;
}

.order-delivery:hover{
    cursor: pointer;
    background-color: red;
    border-radius: 5px;
    color: white;
}

.come-get:hover{
    cursor: pointer;
    background-color: red;
    border-radius: 5px;
    color: white;
}

.your-location{
    border-radius: 15px;
    border: solid 1px #b4b4b4;
    width: 20%;
    margin-left: 20px;
    height: 35px;
}

.text-location{
    border: none;
    outline: none;
}

.icon-location{
    color: #9f9999;
}

.authen{
    margin-left: 150px;
}

.icon-authen{
    font-size: 20px;
    margin-right: 5px;
}

.menu{
    background-color: #006a31;
}

.content-menu{
    color: white;
}

.icon-search{
    margin-left: 550px;
}

.cart{
    border: solid 1px black;
    border-radius: 15px;
    height: 30px;
    background-color: white;
}

.icon-cart{
    color: #006a31
}

.icon-cart:hover{
    cursor: pointer;
}

.content-cart{
    color: #396f31;
}

.content-cart:hover{
    cursor: pointer;
}

.body{
    padding: 0 18.5%;
}

.title-product{
    font-size: 25px;
    font-weight: bold;
}

.pizza-item{
    border: 1px solid #ccc;
    border-radius: 4px;
}

.img-product{
    width: 100%;
}

.content-product{
    font-size: 20px;
}

.content-price{
    font-size: 12px;
}

.price{
    font-size: 19px;
    font-weight: bold;
}

.btn-buy{
    margin-left: 80px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #006a31;
    border: #006a31 solid 1px;
}

.img-detail{
    width: 100%;
}

.tilte-product-detail{
    font-size: 35px;
    font-weight: bold;
}

.main-product-detail{
    background-color: #fafafa;
}
.content-size-product{
    color: #00b06a;
    font-size: 15px;
}

.content-product-detail{
    font-size: 18px;
}

.content-size{
    color: #006a31;
    font-size: 20px;
}

.note{
    font-size: 20px;
    color: #006a31;
}

.size-pizza{
    border: solid 1px #006a31;
    width: 150px;
    font-weight: bold;
}

.size-pizza:hover{
    cursor: pointer;
    background-color: #dddddd;
}

.note-detail-product{
    width: 680px;
    height: 70px;
    border: solid 1px #e7e7e7;
    outline: none;
}

.btn-buy-product-detail{
    border: none;
    height: 50px;
    width: 80%;
    justify-content: center;
    display: flex;
    margin-left: 65px;
    background-color: #007d43;
    border-radius: 8px;
}

.content-btn-buy-product-detail{
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.line{
    background-color: #CCC;
    width: 100%;
    height: 2px;
}

.tilte-cart{
    font-size: 25px;
    font-weight: bold;
}

.img-cart{
    width: 130px;
}

.title-product-cart{
    font-size: 20px;
    font-weight: bold;
}

.de{
    font-size: 13px;
}

.content-cart-1{
    margin-left: 25px;
}

.number{
    margin-left: 200px;
    border-radius: 15px;
    border: solid 1px #e1e1e1 ;
    height: 40px;
    margin-top: 40px;
}

.price-cart {
    margin-left: 50px;
    font-size: 20px;
    font-weight: bold;
}

.icon-trash-cart{
    font-size: 20px;
    margin-left: 50px;
    color: #cccccc;
}

.content-sum-price{
    font-size: 25px;
    font-weight: bold;
    margin-right: 10px;
}

.number-sum-price{
    font-size: 25px;
    font-weight: bold;
    color: #d30e15;
}

.previous{
    margin-right: 50px;
    border: solid 1px black;
    border-radius: 8px;
    height: 50px;
    width: 250px;
    background-color: #738c80;
}

.content-cart-2{
    font-size: 20px;
    margin-left: 10px;
    color: white;
}

.icon{
    font-size: 20px;
    color: white;
}

.purchase {
    border: solid 1px black;
    border-radius: 8px;
    height: 50px;
    width: 250px;
    background-color: #006a31;
}

.content-cart-3{
    font-size: 20px;
    margin-right: 10px;
    color: white;
}